<form class="c-ion-searchbar">
  <div class="form-group">
    <input type="search"
           class="c-ion-searchbar__input"
           placeholder="Enter search string"
           #searchInput>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="initSearch(searchInput.value)">
    Search
  </button>
</form>

<hr />
<div class="no-results">
  <h6 class="mdl-card__title-text">{{message}}</h6>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp" *ngFor="let item of items">
    <div class="mdl-card__title">
      <h6 class="mdl-card__title-text">{{item.trackName}}</h6>
    </div>
    <!--<div class="mdl-card__media">
        <img src="{{item.artworkUrl60}}" width="60" height="60" border="0" alt="">
    </div>-->
    <div class="mdl-card__supporting-text">
      <h6>{{item.formattedPrice}}</h6>
      Seller: {{item.sellerName}}<br>
      Genre: {{item.primaryGenreName}}<br>
      Avg Rating: {{item.averageUserRating}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a *ngIf="item.trackViewUrl" [href]="item.trackViewUrl" class="mdl-button mdl-button--colored" target="_blank">
        App Store
      </a>
      <a *ngIf="item.sellerUrl" [href]="item.sellerUrl" class="mdl-button mdl-button--colored" target="_blank">
        Website
      </a>
    </div>
  </div>
</div>
